/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'a_love_of_thunderregular';
    src: url('../fonts/a_love_of_thunder-webfont.eot');
    src: url('../fonts/a_love_of_thunder-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/a_love_of_thunder-webfont.woff2') format('woff2'),
         url('../fonts/a_love_of_thunder-webfont.woff') format('woff'),
         url('../fonts/a_love_of_thunder-webfont.ttf') format('truetype'),
         url('../fonts/a_love_of_thunder-webfont.svg#a_love_of_thunderregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pane, .view{
	background: #131313;
}

.over-lay{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%; min-height: 100%;
	background: rgba(19,19,19,.5);
}

.button-group{
	position: absolute;
	bottom: 40px;
}

.logo img{
	width: 25%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 50%;
}

.logo h1{
	text-align: center;
	color: #fff;
	font-family: 'a_love_of_thunderregular'
}

.button-group button{
	border: none;
	background: rgba(255,255,255,0.50);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
	border-radius: 2px;
	width: 90%;
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	color: #fff;
}

video{
	position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}